body{
  margin: 7%;
  text-align:center;
  font-family: 'Anton', sans-serif;
  height: 90vh;
}

h1 {
  font-size: 5.5em;
  height: 225px;
  width: 225px;
  margin: 0 auto;
  background-color: black;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

input {
  height: 70px;
  min-width: 600px;
  max-width: 800px;
  font-size: 30px;
  margin-top: 100px;
  padding: 0 15px;
  border-radius: 5px;
  outline: none;
}

button {
  font-size: 25px;
  margin: 68px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}

button:hover {
  background: lightgray;
}

p {
  font-size: 3em;
  margin: 0;
}

#answerBox {
  margin: 0px auto;
  height: 142px;
  width: 630px;
  border: solid 3px darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animation for header */
@keyframes stretch {
  0% {
    transform: scale(.75);
    background-color: lightgray;
    border-radius: 100%;
  }
  50% {
    background-color: gray;
    border-radius: 100%;

  }
  100% {
    transform: scale(1.5);
    background-color: black;
    border-radius: 100%;
    color: lightgray;

  }
}
